.pagina-cartoes{
  margin: 20px auto;
  max-width: 1000px;

  background-color: rgba(49, 154, 168, 0.222);
}

.cartao-simples{
  display: flex;
  align-items: center;
  gap: 40px;
}

.cartao-simples img{

  max-width: 300px;
  width: 100%;
  height: auto;
}

.cartao-info{
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

.cartao-info li{
  list-style: none;
}

@media (max-width: 715px){


.cartao-simples{
    flex-direction: column;
    align-items: center;
    text-align:center;
  }

  .cartao-info ul{
    text-align: left;
  }
}

